<div layout="column" layout-align="center center">
  <form name="myNewMoneyForm">
    <md-input-container>
      <label>Beskrivning</label>
      <input ng-model="newMoney.desc" type="text" required>
    </md-input-container>
    <md-input-container>
      <label>Summa</label>
      <input ng-model="newMoney.amount" type="number" step=1000 min=20 required>
    </md-input-container>
  </form>
</div>
<section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
  <md-button ng-click="saveNewMoney()" ng-disabled="myNewMoneyForm.$invalid" class="md-raised md-primary">Spara</md-button>
</div>
