<div layout="column" layout-align="center center">
  <h2 ng-cloak class="currentMonth">{{selected.year}} / {{selected.month}}</h2>
</div>
<div>
  <md-content class="md-padding">
    <md-card>
      <md-card-content>
        <md-content>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in datasetCosts">
              <div class="md-list-item-text">
                <h3>{{item.amount}}</h3>
                <h4>{{item.category}}</h4>
                <p>{{item.date}}</p>
                <p>{{item.by}}</p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-card-content>
    </md-card>
  </md-content>
</div>
