<div>
  <md-content class="md-padding">
    <md-card>
      <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
      <md-card-content>
        <h2 class="md-title">Totalt in: {{ totalSalaryThisMonth }}</h2>
        <p>
          test
        </p>
      </md-card-content>
    </md-card>
  </md-content>
  <md-content class="md-padding">
    <md-card>
      <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
      <md-card-content>
        <h2 class="md-title">Totalt ut: {{ totalSalaryThisMonth }}</h2>
      </md-card-content>
    </md-card>
  </md-content>
</div>
