<md-card>
  <md-fab-toolbar md-open="false" md-direction="right">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="sorting" class="md-fab md-primary md-mini">
        <!--Stupid fab-trigger needs a svg-->
        <md-icon md-svg-src="icons/more_horiz.svg"></md-icon>
        <!--<ng-md-icon icon="more_horiz" fill="white"></ng-md-icon>-->
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button ng-click="saveSort(sort)" aria-label="sort.sv" ng-repeat="sort in sorting">
          {{sort.sv}}
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  <center>
    <i ng-show="!datasetCosts.length">Här var de tomt.</i>
  </center>
  <md-card-content>
    <md-list ng-repeat="item in datasetCosts | orderBy: sortBy.real">
      <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h3>{{item.category}} <b>{{item.desc}}</b></h3>
          <h4>{{item.amount}}</h4>
          <p>{{item.by}} {{item.date | date : 'yyyy-MM-dd'}}</p>
        </div>
        <md-button aria-label="Radera" ng-click="editCost($event, item)" class="md-fab md-mini md-warn md-raised">
          <ng-md-icon icon="clear" fill="white"></ng-md-icon>
        </md-button>
      </md-list-item>
      <md-divider ng-if="!$last"></md-divider>
    </md-list>
  </md-card-content>
</md-card>
