<div class="md-padding">
  <md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
          <p class="uppercase md-body-2">{{selected.year}} / {{selected.month}}</p>
        </div>
      </md-toolbar>
    <md-card-content>
      <div layout="row">
        <p class="md-subhead">Inkomster: {{totalSalarySelectedMonth}} kr</p>
      </div>
      <div layout="row">
        <p class="md-subhead">Utgifter: {{totalCostSelectedMonth}} kr</p>
      </div>
      <md-divider></md-divider>
      <div class="pad-up">
        <i>{{ plusminusSign }} {{plusminus}} kr denna månad.</i>
      </div>
    </md-card-content>
  </md-card>
</div>

<div google-chart chart="chartObjectMonth" style="height:20em; width:100%;"></div>

<div class="md-padding">
  <md-card>
    <md-card-content>
      <i>Inkomster denna månad</i>
      <md-list>
          <md-list-item class="md-3-line" ng-repeat="x in datasetSalary | orderBy: '-date'">
            <div class="md-list-item-text">
              <div flex layout="row">
                <md-content flex layout="column">
                  <h3>{{x.category}} <b>{{x.value}}</b></h3>
                  <p>{{x.by}} {{x.date | date : 'yyyy-MM-dd'}}</p>
                </md-content>
                <md-button aria-label="Radera" ng-click="editSalary($event, x)" class="md-fab md-mini md-warn md-raised" layout-align="right right">
                  <ng-md-icon icon="clear" fill="white"></ng-md-icon>
                </md-button>
              </div>
            </div>
          </md-list-item>
        </md-list>
    </md-card-content>
  </md-card>
</div>